.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Legend styling */
.legend-box{
  position: absolute;
  top: 115px;
  left: 10px;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 1000
}


.dropdown-box {
  position: absolute;
  top: 215px;
  left: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 1000;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  color:#3b444b;
  font-weight: bold;
  background: #94D2A5;
  padding: 15px;
  /* margin: 20px; */
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.3); */
  z-index: 1000;
  
}
.banner button {
  background-color: #ffffff;
  color: #94D2A5;
  border: 2px solid #94D2A5;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-left: 20px;
}

.banner button:hover {
  background-color: #94D2A5;
  color: #ffffff;
}
